{% extends 'admin.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}    
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}

{% block titulo %} 
   Parametros
{% endblock %}

{% block sub_titulo %} 
    
{% endblock %}

{% block contenido %}   
<div class="col-md-12 col-sm-6 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tipoUsuarios" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Tipo de Usuarios</a>
                    </li>                  
                </ul>
                <div id="myTabContent" class="tab-content">
                    {#Panel tipo usuarios #}
                    <div role="tabpanel" class="tab-pane fade active in" id="tipoUsuarios" aria-labelledby="home-tab">
                        <p class="text-right"><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".vm_agregar">Agregar</button></p>                         
                        {#Venta modal agregar tipo usuario#}
                        <div class="modal fade vm_agregar" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                            <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Agregar Tipo Usuario</h4>
                                </div>
                                {# Formulario agregar #}
                                <div class="modal-body">                                  
                                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" action="{{ path('tipousuariosAdd')}}" method="POST">
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tipoUsuario">Tipo Usuario <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="tipoUsuario" name="tipoUsuario" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                       
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="descripcion">Descripción <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="descripcion" name="descripcion" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                      
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-success">Agregar</button>
                                            </div>
                                        </div>                                      
                                    </form>
                                </div>     
                                {# Fin Formulario agregar #}        
                            </div>
                            </div>
                        </div>
                        {# Fin Venta modal agregar tipo usuario#}
                        {#Venta modal actualizar tipo usuario#}
                        <div class="modal fade" id="vm_actualizar" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                            <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Actualizar Tipo Usuario</h4>
                                </div>
                                {# Formulario actualizar #}
                                <div class="modal-body">
                                    <div id="datos_ajax"></div>
                                    <form id="frm_actualiza_tipousuario" data-parsley-validate class="form-horizontal form-label-left">
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tipoUsuario">Tipo Usuario <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="tipousuario" name="tipousuario" required="required" class="form-control col-md-7 col-xs-12">
                                                <input type="hidden" class="form-control" id="idtipousuario" name="idtipousuario">
                                            </div>
                                        </div>
                                       
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="descripcion">Descripción <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="descripcion" name="descripcion" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                      
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-success">Agregar</button>
                                            </div>
                                        </div>                                      
                                    </form>
                                </div>     
                                {# Fin Formulario actualizar #}        
                            </div>
                            </div>
                        </div>
                        {# Fin Venta modal agregar tipo usuario#}
                            {#Tabla tipo de usuario#}
                            <div class="x_panel">                            
                                <div class="x_content">
                                    <table id="th_tipoUsuarios" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Tipo de usuario</th>
                                                <th>Descripci&oacute;n</th>                                                
                                                <th>Acci&oacute;n</th>
                                            </tr>
                                        </thead>                                        
                                    </table>
                                </div>
                            </div>
                            {# Fin Tabla tipo de usuario#}
                    </div>
                    {#Fin Panel tipo usuarios #}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_footer %}
    {{ parent() }}   
     <script type="text/javascript">
        var oTable  
        $(document).ready(function() {
          oTable =  $('#th_tipoUsuarios').dataTable({                
                "ajax": "{{ path('thdb_tipoUsuarios') }}",
                "columns": [
                            { "width": "20%" },
                            null,                           
                            { "width": "10%" }
                          ]
            });
            
            $('#vm_actualizar').on('show.bs.modal', function (event) {
		  var button = $(event.relatedTarget) 
                  var tipousuario = button.data('tipousuario') 
                  var descripcion = button.data('descripcion') 
                  var idtipousuario = button.data('idtipousuario')
                  var modal = $(this)
                  modal.find('.modal-body #tipousuario').val(tipousuario)
                  modal.find('.modal-body #descripcion').val(descripcion)
                  modal.find('.modal-body #idtipousuario').val(idtipousuario)

            });
            
            $( "#frm_actualiza_tipousuario" ).submit(function( event ) {
		var parametros = $(this).serialize();
		$.ajax({
			type: "POST",
			url: "{{ path('tipousuariosMod') }}",
			data:   parametros,
                                beforeSend: function(objeto){
                                    $("#datos_ajax").html("Mensaje: Cargando...");
				},
				success: function(datos){
                                    $("#datos_ajax").html(datos);  
                                                                            
                                      oTable.fnReloadAjax();
				}
			});
		  event.preventDefault();
		});
        });
              
  </script>
{% endblock %}
    