<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}SPDE{% endblock %}</title>
    
    {% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/Gentellela/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/Gentellela/fonts/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/Gentellela/css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/Gentellela/css/select/select2.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/Gentellela/css/icheck/flat/green.css')}}" rel="stylesheet">
    

    <!-- Custom styling plus plugins -->
    <link href="{{ asset('bundles/Gentellela/css/custom.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/Gentellela/js/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
   {% endblock %}
   {% block js %}
    <!-- Scripts -->
    <script src="{{ asset('bundles/Gentellela/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/Gentellela/js/nprogress.js') }}"></script>
    <script src="{{ asset('bundles/Gentellela/js/icheck/icheck.min.js') }}"></script>
    
    {% endblock %}
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
			<a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>SPDE</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu prile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="{{ asset('bundles/Gentellela/images/img.jpg') }}" alt="..." class="img-circle profile_img">
			</div>
			<div class="profile_info">
                            <span>Welcome,</span>
                            <h2>Leandro Pájaro F</h2>
			</div>
                    </div>
                    <!-- /menu prile quick info -->
                    <br/>
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        		<div class="menu_section">
                            <h3>&nbsp;</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Modelo <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" style="display: none">                                                
                                                <li><a href="{{ path('r_entrenamiento') }}">Entrenamiento</a>
                                                </li>
                                                <li><a href="{{ path('r_clasificacion')}}">Clasificaci&oacute;n</a>
                                                </li>
                                        </ul>
				</li>
                                <li>
                                    <a><i class="fa fa-home"></i> Estudiantes <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" style="display: none">
                                                <li><a href="{{ path('r_estudiantes')}}">Listar</a>
                                                </li>
                                                <li><a href="{{ path('r_seguimiento') }}">Seguimiento</a>
                                                </li>
                                        </ul>
				</li>
                                <li>
                                    <a><i class="fa fa-edit"></i> Configuración <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" style="display: none">
                                                <li><a href="{{ path('r_tipousuario') }}">Tipos de usuarios</a>
                                                </li>
                                                <li><a href="{{ path('r_programas')}}">Programas</a>
                                                </li>
                                                <li><a href="{{ path("r_caracteristicas")}}">Caracter&iacute;sticas</a>
                                                </li>
                                                <li><a href="{{ path("r_acciones")}}">Acciones</a>
                                                </li>
                                        </ul>
                                </li>
                            </ul>
			</div>
                    </div>
                    <!-- /sidebar menu -->	                    
		</div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                          <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                          <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                              Leandro Pájaro Fuentes  <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                <li>
                                    <a href="http://localhost:8080/spde2/web/app_dev.php/logout"><i class="fa fa-sign-out pull-right"></i>LogOut</a>
                                </li>
                            </ul>
                          </li>
                        </ul>
                      </nav>
                    </div>
            </div>
            <!-- /top navigation -->                                                
            
            <!-- page content -->
            <div class="right_col" role="main">
        	<div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="dashboard_graph">
                            <div class="row x_title">
				<div class="col-md-6">
                                    <h3> {% block titulo %} Titulo {% endblock %} <small>{% block sub_titulo %} Sub titulo {% endblock %}</small></h3>
				</div>
				<div class="col-md-6"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                            {% block contenido %}
                               
                            {% endblock %}
                            </div>
                            <div class="clearfix"></div>
			</div>
                    </div>
		</div>
                <br>
		<!-- footer content -->
		<footer>
                    <div class="copyright-info">
                        <p class="pull-right">Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>		
			</p>
                    </div>
                    <div class="clearfix"></div>
		</footer>
		<!-- /footer content -->
            </div>
            <!-- /page content -->
        </div>
    </div>
   
   {% block js_footer %}                       
    <script src="{{ asset('bundles/Gentellela/js/bootstrap.min.js')}}"></script>

    <!-- bootstrap progress js -->
    <script src="{{ asset('bundles/Gentellela/js/progressbar/bootstrap-progressbar.min.js')}}"></script>
    <script src="{{ asset('bundles/Gentellela/js/nicescroll/jquery.nicescroll.min.js')}}"></script>    

    <script src="{{ asset('bundles/Gentellela/js/custom.js')}}"></script>  
    
    <!-- Datatables-->
        <script src="{{ asset('bundles/Gentellela/js/datatables/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('bundles/Gentellela/js/datatables/dataTables.bootstrap.js') }}"></script>
        <script src="{{ asset('bundles/Gentellela/js/fnReloadAjax.js')}}"></script>
        
    <!-- Datepicker -->
        <script src="{{ asset('bundles/Gentellela/js/moment/moment.min.js')}}"></script>
        <script src="{{ asset('bundles/Gentellela/js/datepicker/daterangepicker.js')}}"></script>
   {% endblock %}
</body>

</html>
