<div class="modal-body">     
    <div id="respuesta_agregar"></div>
    <form id="frm_agregar_entrenamiento" data-parsley-validate class="form-horizontal form-label-left">
        
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="clasificacion">Clasificaci&oacute;n<span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select id="idclasificacion" name="idclasificacion" class="form-control" required>
                    <option value="">Seleccione</option>
                    {% for c in clasificacion %}
                        <option value="{{c.idclasificacion}}">{{ c.idEstudiante.codigo }}&nbsp;{{ c.idEstudiante.nombres }}&nbsp;{{ c.idEstudiante.apellidos }}</option>
                    {% endfor %}
                </select>
            </div>               
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="caracteristica">Caracter&iacute;stica<span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select id="idcaracteristica" name="idcaracteristica" class="form-control" required>
                    <option value="">Seleccione</option>
                    {% for car in caracteristica %}
                        <option value="{{car.idcaracteristica}}">{{ car.descripcion}}</option>
                    {% endfor %}
                </select>
            </div>               
        </div>
        
        
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="valor">valor<span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="valor" name="valor" required="required" class="form-control col-md-7 col-xs-12">
            </div>
        </div>        
       

        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Agregar</button>
            </div>
        </div>                                      
    </form>
</div> 
