<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SPDE</title>

  <!-- Bootstrap core CSS -->

  <link href="{{ asset('bundles/Gentellela/css/bootstrap.min.css') }}" rel="stylesheet">

  <link href="{{ asset('bundles/Gentellela/fonts/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ asset('bundles/Gentellela/css/animate.min.css') }}" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="{{ asset('bundles/Gentellela/css/custom.css')}}" rel="stylesheet">
  <link href="{{ asset('bundles/Gentellela/css/icheck/flat/green.css')}}" rel="stylesheet">


  <script src="{{ asset('bundles/Gentellela/js/jquery.min.js')}}"></script>

</head>

<body style="background:#F7F7F7;">

  <div class="">
    <a class="hiddenanchor" id="toregister"></a>
    <a class="hiddenanchor" id="tologin"></a>

    <div id="wrapper">
      <div id="login" class="animate form">
        <section class="login_content">
          <form action="{{ path('login') }}" method="post">
            <h1>Ingreso SPDE</h1>
            <div>              
              <input type="text" class="form-control" id="username" name="_username" placeholder="Username" required="required" value="{{ last_username }}" />
            </div>
            <div>
              <input type="password" class="form-control" placeholder="Password" required="" id="password" name="_password" />
            </div>
            <div>
              <button id="send" type="submit" class="btn btn-success">Submit</button>              
            </div>
            <div class="clearfix"></div>
            <div class="separator">
                <p>
                    {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %} 
                </p>              
              <div class="clearfix"></div>
              <br />            
            </div>
          </form>
          <!-- form -->
        </section>
        <!-- content -->
      </div>
    
    </div>
  </div>

</body>

</html>
    